* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col-content {
  display: flex;
  width: 320px;
  height: 659px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
}

.item1 {
  background-color: #4bacc6;
}

.col .name {
  display: flex;
  justify-content: center;
}

.description p {
  width: 30%;
}

