body{
    margin: 0;
    background: linear-gradient(to top, #0066cc -31%, #800000 100%);
}

header{
    display: block;
}

.cabecalho{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.foto{
    width: 15%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 240, 240);;
}

.paragrafos{
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    outline-style: inset;
    outline-width: 0.2em;
    outline-color:black;
    margin-left: 20%;
    margin-right: 20%;

}

.conteudoPrincipal{
    
}

.bloco{
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    outline-style: inset;
    outline-width: 0.2em;
    outline-color: rgba(20, 0, 0, 0.911);
    margin-right: 20%;
    margin-left: 20%;
}

.logo{
    width: 20px;
    padding: 1.5px;
}